
body {

    color: #000000;
    background-color: ghostwhite;
    font-family: sans-serif;
  }
 
 .tag {
     font-family: sans-serif; 
     font-size: 2rem;
    }  

.jumbotron {
    background-image: url("C:\Users\William\Desktop\Analytics Classwork\Plotly\img\germs.jpg");
    background-size: cover;
    text-align: center;
    background-blend-mode: multiply;

  }

  .info {
    padding-left: 10px;

  }
